<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to image_tag("elektro.png"), landing_path, :class=>"icon-puzzle-piece icon-2x", :alt => "Elektro" %>

    <div class="collapse navbar-collapse justify-content-end pull-right " id="navbarSupportedContent">
      <ul class="nav navbar-nav navbar-right ">
          <% if user_signed_in? %>
              <li class="text-center">
                  <%= link_to welcome_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button menuBtn', method: :get do %>
                    gononeas  <%=fa_icon "bus" %>
                  <% end %>
              </li>

              <% if current_user.has_role? :Admin %>
                <li>
                  <%= link_to landing_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button menuBtn' do %>Monitoreo <%=fa_icon "eye" %>.<%=fa_icon "eye" %> <% end %>
                </li>
              <% end%>

              <li class="dropdown ">
                  <a href="#"  class="btn dropdown-toggle dropdown-red-style margin_button menuBtn" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                      <%= current_user.email %> <%=fa_icon "user" %>
                  </a>

                  <ul class="dropdown-menu">
                      <% if user_signed_in? %>
                          <li>
                            <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                              Editar Usuario <%=fa_icon "pencil-square-o" %>
                            <%end%>
                          </li>
                          <li>
                            <%= link_to rails_admin_path, class: 'dropdown-item' do %>
                              Administracion y configuraciones  <%=fa_icon "gear " %>
                            <% end %>
                          </li>
                          <hr>
                          <li>
                          <%= link_to destroy_user_session_path, class: 'btn btn-danger col-md-12', :method => :delete do %>
                              Salir <%=fa_icon "sign-out" %>
                            <% end %>
                          </li>
                      <%end%>
                  </ul>
              </li>
          <%else%>
              <li class="margin_button">
                  <%= link_to new_user_registration_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button menuBtn' do%> Registrarme <%= fa_icon "pencil"%>
                  <%end%>

              </li>
              <li class="margin_button" >
                  <%= link_to new_user_session_path, class: 'btn btn-outline-info  my-2 my-sm-0 margin_butto menuBtnn login_button menuBtn'  do  %>Entrar <%= fa_icon "sign-in"%>
                  <%end%>
              </li>
          <% end %>
      </ul>
    </div>

</nav>